
backupl_old_lib/common/common.h
backupl_old_lib/common/fs_defs.h
backupl_old_lib/common/os_defs.h
backupl_old_lib/common/types.h
backupl_old_lib/dynamic_libs/acp_functions.c
backupl_old_lib/dynamic_libs/acp_functions.h
backupl_old_lib/dynamic_libs/aoc_functions.c
backupl_old_lib/dynamic_libs/aoc_functions.h
backupl_old_lib/dynamic_libs/ax_functions.c
backupl_old_lib/dynamic_libs/ax_functions.h
backupl_old_lib/dynamic_libs/fs_defs.h
backupl_old_lib/dynamic_libs/fs_functions.c
backupl_old_lib/dynamic_libs/fs_functions.h
backupl_old_lib/dynamic_libs/gx2_functions.c
backupl_old_lib/dynamic_libs/gx2_functions.h
backupl_old_lib/dynamic_libs/gx2_types.h
backupl_old_lib/dynamic_libs/os_functions.c
backupl_old_lib/dynamic_libs/os_functions.h
backupl_old_lib/dynamic_libs/os_types.h
backupl_old_lib/dynamic_libs/padscore_functions.c
backupl_old_lib/dynamic_libs/padscore_functions.h
backupl_old_lib/dynamic_libs/socket_functions.c
backupl_old_lib/dynamic_libs/socket_functions.h
backupl_old_lib/dynamic_libs/sys_functions.c
backupl_old_lib/dynamic_libs/sys_functions.h
backupl_old_lib/dynamic_libs/syshid_functions.c
backupl_old_lib/dynamic_libs/syshid_functions.h
backupl_old_lib/dynamic_libs/vpad_functions.c
backupl_old_lib/dynamic_libs/vpad_functions.h
backupl_old_lib/fs/fs_utils.c
backupl_old_lib/fs/fs_utils.h
backupl_old_lib/fs/sd_fat_devoptab.c
backupl_old_lib/fs/sd_fat_devoptab.h
backupl_old_lib/sokoban-2.elf
backupl_old_lib/sokoban-3.elf
backupl_old_lib/sokoban.elf
backupl_old_lib/system/memory.c
backupl_old_lib/system/memory.h
backupl_old_lib/utils/logger.c
backupl_old_lib/utils/logger.h
backupl_old_lib/utils/utils.h
build/.map
build/acp_functions.d
build/acp_functions.o
build/aoc_functions.d
build/aoc_functions.o
build/ax_functions.d
build/ax_functions.o
build/draw.d
build/draw.o
build/entry.d
build/entry.o
build/fs_functions.d
build/fs_functions.o
build/fs_utils.d
build/fs_utils.o
build/gx2_functions.d
build/gx2_functions.o
build/logger.d
build/logger.o
build/main.d
build/main.o
build/memory.d
build/memory.o
build/os_functions.d
build/os_functions.o
build/padscore_functions.d
build/padscore_functions.o
build/sd_fat_devoptab.d
build/sd_fat_devoptab.o
build/socket_functions.d
build/socket_functions.o
build/sys_functions.d
build/sys_functions.o
build/syshid_functions.d
build/syshid_functions.o
build/vpad_functions.d
build/vpad_functions.o
*.elf
